.pequena {
  width: 200px;
}

.centralizado {
  text-align: center;
}

.fundo-pagina {
  /*background-color: #FF9900;*/
  /*background-color: #212121;*/
  background-color: #3E474F;
  color: #ffffff;
}

.texto-azul {
  color: #00B5B5;
}

.jumbotron {
  background-color: #222222;
}

.jumbotron h1 {
  /*background-color: #EFF0F1;*/
  color: #00B5B5;
}

.btn-custom {
  background-color: #00B5B5;
  color: #222222;
}

.navbar-custom {
  color: #00B5B5 !important;
  /*background-color: #00B5B5;*/
}

.imagem-carrossel {
  height: 200px !important;
}

.titulos {
  color: #00B5B5;
}

.header-tabela {
  background-color: #00B5B5;
  color: #000;
  text-align: center !important;
}

.fundo-cinza-claro {
  background-color: #CECECE;
  color: #000;
}

.div-arredondada {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 5px 25px 25px 25px;
}

.botao-arredondado {
  border-radius: 15px;
}

.float-direita {
  float: right;
}